{% extends "layout.html" %}
{% block content %}

<h4>Form name: <i style="color: rgb(9, 5, 100);">{{ title }}</i></h4>
<h4>Domain: <i><a href="{{ url }}">{{ url }}</a></i></h4>
<h4>Form Author: <i style="color: rgb(9, 5, 100);">{{ author }}</i></h4>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="row">
    <div class="col-md-8 col-centered" style="align-items: center;">
        <form method="POST" enctype="multipart/form-data">
            <div class="col-12" id="cards">  
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <div class="card" id="card_'+n+'" style="background: #fbf7f7;">
                    <div class="card-body" id="body_'+n+'">
                        <a class="btn btn-light" style="font-size:24px;float:right;" id="remove" name="remove" onclick="RemoveCard('+n+')" value="Remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-remove"></i></a>
                        <h5 class="card-title">Checbox</h5>
                        <div class="mb-3">
                            <label for="checkbox_field_'+n+'_title" class="form-label">*Title/Question</label>
                            <input type="text" class="form-control" name="checkbox_field_'+n+'_title" placeholder="Title or question" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control rounded-0" id="description" name="checkbox_field_'+n+'_'+v+'_description" rows="3"></textarea>
                        </div>
                        <div class="mb-3" id="value">
                            <label for="value" class="form-label">*Value</label>
                            <input type="text" class="form-control" name="checkbox_field_'+n+'_'+v+'_values" id="checkbox_field_'+n+'_'+v+'_values" placeholder="Value" required>
                        </div>
                        <!-- checccckkk -->
                        <div class="checkbox-wrapper-15">
                            <input class="inp-cbx" id="allow" type="checkbox" name="allow" style="display: none;"/>
                            <label class="cbx" for="allow">
                              <span>
                                <svg width="12px" height="9px" viewbox="0 0 12 9">
                                  <polyline points="1 5 4 8 11 1"></polyline>
                                </svg>
                              </span>
                              <span>Allow to add another answer</span>
                            </label>
                          </div>
                        <!--  end  -->
                        <div class="add_'+n+'" id="add_'+n+'">
                            <a class="btn btn-light" type="button" name="add_value_to_checkbox" id="add_value_to_checkbox" value="Value" onclick="AddValueToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Value"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Value</a>
                            <a class="btn btn-light" type="button" name="add_url_to_checkbox" id="add_url_to_checkbox" value="Add Url" onclick="AddUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Url</a>
                            <a class="btn btn-light" type="button" name="add_image_url_to_checkbox" id="add_image_url_to_checkbox" value="Image Url" onclick="AddImageUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Image Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Image Url</a>
                            <a class="btn btn-light" type="button" name="add_youtube_url_to_checkbox" id="add_youtube_url_to_checkbox" value="Youtube Url" onclick="AddYoutubeUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Youtube Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Youtube Url</a>
                            <a class="btn btn-light" type="button" name="add_image_to_checkbox" id="add_image_to_checkbox_'+n+'" value="Image" onclick="AddImageToCheckboxField('+n+');" data-toggle="tooltip" data-placement="top" title="Add Image"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Image</a>
                        </div>
                        </div>
                        <div class="one_line" style="display:flex;">
                            <div class="required" style="right: -80%">
                                <div class="checkbox-wrapper-15">
                                    <input class="inp-cbx" id="required" type="checkbox" name="required" style="display: none;"/>
                                    <label class="cbx" for="required">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                        <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                    <span>Required</span>
                                    </label>
                                </div>
                            </div>
                            <div class="required" style="right: -45%">
                                <div class="checkbox-wrapper-15">
                                    <input class="inp-cbx" id="one_selection" type="checkbox" name="select" style="display: none;"/>
                                    <label class="cbx" for="one_selection">
                                    <span>
                                        <svg width="12px" height="9px" viewbox="0 0 12 9">
                                        <polyline points="1 5 4 8 11 1"></polyline>
                                        </svg>
                                    </span>
                                    <span>One Selection</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="required" style="display:flex;right: -70%">
                            <span style="margin-right: 10px;top: 10px;">Required</span>
                            <div class="checkbox-wrapper-7">
                                <input class="tgl tgl-ios" id="cb2-7" type="checkbox"/>
                                <label class="tgl-btn" for="cb2-7"></label>
                            </div>
                        </div> -->
                        <!-- <div class="toggler-container">
                            <div class="required">
                              <label class="toggler-wrapper style-1">
                                <input type="checkbox" name="required">
                                <div class="toggler-slider">
                                  <div class="toggler-knob"></div>
                                </div>
                                <span class="toggler-label">Required</span>
                              </label>
                            </div>
                            <div class="one_selection">
                              <label class="toggler-wrapper style-1">
                                <span class="toggler-label">Only one selection</span>
                                <input type="checkbox" name="required">
                                <div class="toggler-slider">
                                  <div class="toggler-knob"></div>
                                </div>
                              </label>
                            </div>
                            <br/>
                        </div> -->
                          
                    
                    <br/>
                </div>
                <br/>

            </div>
            <div class="col-12 text-right" id="add_to">
                <a class="btn btn-light" type="button" name="add_question" id="add_question" value="Question" data-toggle="tooltip" data-placement="top" title="Just Quetion"><i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-light" type="button" name="add_checkbox" id="add_checkbox" value="Checkbox" data-toggle="tooltip" data-placement="top" title="Checkbox for more selection"><i class="fa fa-check-square-o"></i></a>
            </div>
            <div class="col-12 m-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
            <br/>
            <div class="check_required" style="display:flex;align-self: right;"></div>"
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="{{ files_path }}add_values.js"></script>
    </div>
</div>
{% endblock content %}
