{% extends "layout.html" %}
{% block content %}

<h4>Form name: <i style="color: rgb(9, 5, 100);">{{ title }}</i></h4>
<h4>Domain: <i><a href="{{ url }}">{{ url }}</a></i></h4>
<h4>Form Author: <i style="color: rgb(9, 5, 100);">{{ author }}</i></h4>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="row">
    <div class="col-md-8 col-centered" style="align-items: center;">
        <form method="POST" enctype="multipart/form-data">
            <div class="col-12" id="cards">  
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
            </div>
            <div class="col-12 text-right" id="add_to">
                <a class="btn btn-light" type="button" name="add_question" id="add_question" value="Question" data-toggle="tooltip" data-placement="top" title="Just Quetion"><i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-light" type="button" name="add_checkbox" id="add_checkbox" value="Checkbox" data-toggle="tooltip" data-placement="top" title="Checkbox for more selection"><i class="fa fa-check-square-o"></i></a>
                <a class="btn btn-light" type="button" name="add_selectbox" id="add_selectbox" value="Select" data-toggle="tooltip" data-placement="top" title="Checkbox for one selection"><i class="fa fa-check"></i></a>
            </div>
            <div class="col-12 m-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
            
            <br/>
         
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            
            <script type="text/javascript">
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                    })
                $(document).ready(function() {
                    var max = 100;
                    var x = 1;
                    var n = 1 
                    $("#add_question").click(function(){
                        if(x <= max){
                            $("#cards").append(
                                '<div class="card" id="card_'+n+'" style="background: #fbf7f7;">'+
                                    '<div class="card-body" id="body_'+n+'">'+
                                        '<a class="btn btn-light" style="font-size:24px;float:right;" id="remove" name="remove" onclick="RemoveCard('+n+')" value="Remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-remove"></i></a>'+
                                        '<h5 class="card-title">Checbox</h5>'+
                                        '<div class="mb-3">'+
                                            '<label for="question_field_'+n+'_title" class="form-label">Title/Question</label>'+
                                            '<input type="text" class="form-control" name="question_field_'+n+'_title" placeholder="Title or question" required>'+
                                        '</div>'+
                                        '</div>'+
                                    '</div>'+
                                    '<br/>'+
                                '</div>');
                                n++;
                                x++;
                                }
                            }) 
                    $("#add_checkbox").click(function(){
                        if(x <= max){
                            $("#cards").append(
                                '<div class="card" id="card_'+n+'" style="background: #fbf7f7;">'+
                                    '<div class="card-body" id="body_'+n+'">'+
                                        '<a class="btn btn-light" style="font-size:24px;float:right;" id="remove" name="remove" onclick="RemoveCard('+n+')" value="Remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-remove"></i></a>'+
                                        '<h5 class="card-title">Checbox</h5>'+
                                        '<div class="mb-3">'+
                                            '<label for="checkbox_field_'+n+'_title" class="form-label">Title/Question</label>'+
                                            '<input type="text" class="form-control" name="checkbox_field_'+n+'_title" placeholder="Title or question" required>'+
                                        '</div>'+
                                        '<a class="btn btn-light" type="button" name="add_value_to_checkbox" id="add_value_to_checkbox" value="Value" onclick="AddValueToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Value"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Value</a>'+
                                        '<a class="btn btn-light" type="button" name="add_url_to_checkbox" id="add_url_to_checkbox" value="Add Url" onclick="AddUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Url</a>'+
                                        '<a class="btn btn-light" type="button" name="add_image_url_to_checkbox" id="add_image_url_to_checkbox" value="Image Url" onclick="AddImageUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Image Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Image Url</a>'+
                                        '<a class="btn btn-light" type="button" name="add_youtube_url_to_checkbox" id="add_youtube_url_to_checkbox" value="Youtube Url" onclick="AddYoutubeUrlToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Youtube Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Youtube Url</a>'+
                                        '<a class="btn btn-light" type="button" name="add_image_url_to_checkbox" id="add_image_url_to_checkbox" value="Image Url" onclick="AddImageToCheckboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Image Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Image</a>'+
                                        '</div>'+
                                    '</div>'+
                                    '<br/>'+
                                '</div>');
                                n++;
                                x++;
                                }
                            }) 
                        $("#add_selectbox").click(function(){
                        if(x <= max){
                            $("#cards").append(
                                '<div class="card" id="card_'+n+'" style="background: #fbf7f7;">'+
                                    '<div class="card-body" id="body_'+n+'">'+
                                        '<a class="btn btn-light" style="font-size:24px;float: right;" id="remove" name="remove" onclick="RemoveCard('+n+')" value="Remove" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-remove"></i></a>'+
                                        '<h5 class="card-title">Selectbox</h5>'+
                                        '<div class="mb-3">'+
                                            '<label for="selectbox_field_'+n+'_title" class="form-label">Title/Question</label>'+
                                            '<input type="text" class="form-control" name="selectbox_field_'+n+'_title" placeholder="Title or question" required>'+
                                        '</div>'+
                                        '<a class="btn btn-light" type="button" name="add_value_to_selectbox" id="add_value_to_selectbox" value="Value" onclick="AddValueToSelectboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Value"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Value</a>'+
                                        '<a class="btn btn-light" type="button" name="add_url_to_selectbox" id="add_url_to_selectbox" value="Add Url" onclick="AddUrlToSelectboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Url</a>'+
                                        '<a class="btn btn-light" type="button" name="add_image_url_to_selectbox" id="add_image_url_to_selectbox" value="Image Url" onclick="AddImageUrlToSelectboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Image Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Image Url</a>'+
                                        '<a class="btn btn-light" type="button" name="add_youtube_url_to_selectbox" id="add_youtube_url_to_selectbox" value="Youtube Url" onclick="AddYoutubeUrlToSelectboxField('+n+')" data-toggle="tooltip" data-placement="top" title="Add Youtube Url"><i class="fa fa-plus" style="color:green;" aria-hidden="true"></i> Youtube Url</a>'+
                                        '</div>'+
                                    '</div>'+
                                    '<br/>'+
                                '</div>');
                                n++;
                                x++;
                                }
                            }) 
                        })

                    var v = 1
                    // ########### For CheckBox ##################
                    function AddValueToCheckboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="text" class="form-control" name="checkbox_field_'+id+'_'+v+'_values" id="checkbox_field_'+id+'_'+v+'_values" placeholder="Value" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Value added")
                        v++;
                    }
                    function AddUrlToCheckboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="checkbox_field_'+id+'_'+v+'_url" id="checkbox_field_'+id+'_'+v+'_url" placeholder="Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Url added")
                        v++;
                    }
                    function AddImageUrlToCheckboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="checkbox_field_'+id+'_'+v+'_image" id="checkbox_field_'+id+'_'+v+'_image" placeholder="Image Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Image url added")
                        v++;
                    }
                    function AddImageToCheckboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input class="form-control" type="file" name="checkbox_field_'+id+'_'+v+'_uploaded_image" id="checkbox_field_'+id+'_'+v+'_uploaded_image" placeholder="Image Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Image upload added")
                        v++;
                    }
                    function AddYoutubeUrlToCheckboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="checkbox_field_'+id+'_'+v+'_youtube" id="checkbox_field_'+id+'_'+v+'_youtube" placeholder="Youtube Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Youtube url added")
                        v++;
                    }

                    // ########### For SelectBox #################
                    function AddValueToSelectboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="text" class="form-control" name="selectbox_field_'+id+'_'+v+'_values" id="selectbox_field_'+id+'_'+v+'_values" placeholder="Value" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Value added")
                        v++;
                    }
                    function AddUrlToSelectboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="selectbox_field_'+id+'_'+v+'_url" id="checkbox_field_'+id+'_'+v+'_url" placeholder="Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Value added")
                        v++;
                    }
                    function AddImageUrlToSelectboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="selectbox_field_'+id+'_'+v+'_image" id="checkbox_field_'+id+'_'+v+'_image" placeholder="Image Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Value added")
                        v++;
                    }
                    function AddYoutubeUrlToSelectboxField(id){
                        $("#body_"+id).append(
                            '<div class="mb-3" id="value_'+v+'" style="display:flex;">'+
                                '<input type="url" class="form-control" name="selectbox_field_'+id+'_'+v+'_youtube" id="checkbox_field_'+id+'_'+v+'_youtube" placeholder="Youtube Url" required><a class="btn btn-light" style="font-size:24px;color:brown;" onclick="RemoveValue('+v+')" value="Remove"><i class="fa fa-remove"></i></a>'+
                            '</div>'
                            );
                        console.log("Value added")
                        v++;
                    }
                    
                    // ############ Remove elements #############
                    function RemoveValue(id){
                        document.getElementById("value_"+id).remove()
                        console.log("Value Deleted>>>"+id)
                    } 
                    function RemoveCard(id) {
                        document.getElementById("card_"+id).remove()
                        console.log("Deleted")
                    }
            </script>
    </div>
</div>
{% endblock content %}
