{% extends "layout.html" %}
{% block content %}

<h4>Form name: <i style="color: rgb(9, 5, 100);">{{ title }}</i></h4>
<h4>Domain: <i><a href="{{ url }}">{{ url }}</a></i></h4>
<h4>Form Author: <i style="color: rgb(9, 5, 100);">{{ author }}</i></h4>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="row">
    <div class="col-md-8 col-centered" style="align-items: center;">
        <form method="POST" enctype="multipart/form-data">
            <div class="col-12" id="cards">  
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
            </div>
            <div class="col-12 text-right" id="add_to">
                <a class="btn btn-light" type="button" name="add_question" id="add_question" value="Question" data-toggle="tooltip" data-placement="top" title="Just Quetion"><i class="fa fa-file-text-o"></i></a>
                <a class="btn btn-light" type="button" name="add_checkbox" id="add_checkbox" value="Checkbox" data-toggle="tooltip" data-placement="top" title="Checkbox for more selection"><i class="fa fa-check-square-o"></i></a>
                <a class="btn btn-light" type="button" name="add_selectbox" id="add_selectbox" value="Select" data-toggle="tooltip" data-placement="top" title="Checkbox for one selection"><i class="fa fa-check"></i></a>
            </div>
            <div class="col-12 m-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
            
            <br/>
         
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="{{ files_path }}add_values.js"></script>
    </div>
</div>
{% endblock content %}
